.CategoriesItems {
    align-items: center;
    display: flex;
    flex-flow: row;
    height: 100%;
    list-style: none;
    margin-left: 5%;
    margin-bottom: 40px;
  }


  @media (max-width: 750px) {
    .CategoriesItems {
      margin: auto auto 40px auto;
    }
  
  }