.HireMeBtnNight {
  color: black;
  background-color: white;
  border: solid 1px black;
}

.HireMeBtnNight:hover {
  color: white;
  background-color: black;
  border: solid 1px white;
  cursor: pointer;
}

.HireMeBtnLight {
  color: white;
  background-color: black;
  border: solid 1px white;
}

.HireMeBtnLight:hover {
  color: black;
  background-color: white;
  border: solid 1px black;
  cursor: pointer;
}

.SeeMyResumeBtnLight {
  color: black;
  background-color: white;
  border: solid 1px black;
}

.SeeMyResumeBtnLight:hover {
  color: white;
  background-color: black;
  border: solid 1px white;
  cursor: pointer;
}

.SeeMyResumeBtNLight {
  color: white;
  background-color: black;
  border: solid 1px white;
  cursor: pointer;
}

.SeeMyResumeBtNLight:hover {
  color: black;
  background-color: white;
  border: solid 1px black;
  cursor: pointer;
}

.button button{
  width: 150px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  margin-right: 10px;
}
