@media (min-width: 750px) {
  .Model {
    margin: 5px 50px;
  }

  .textBlock .textBlockChild {
    transform: translate(50%);
  }
}

.Section1Col {
  margin-top: 10%;
}

.textBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text1 {
  white-space: nowrap;
  font-size: 35px;
}

.text2 {
  white-space: nowrap;
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text3 {
  white-space: nowrap;
  font-size: 35px;
}

.anwer img {
  width: 170%;
}

.background {
  width: 105%;
  height: 105%;
  position: relative;
}

.buttons {
  display: flex;
}

.myStack{
  width: 100%;
  position: relative;
}

.myStack .myImage{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60% !important;
  transform: translateX(20%)
}

@media (min-width: 750px) {
  .buttons {
    transform: translate(50%);
    margin-top: 20px;
  }
}

@media (max-width: 750px) {
  .buttons {
    justify-content: center;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .buttons {
    justify-content: center;
    margin-top: 70px;
  }
}
