.arrow {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.night {
  border-color: white;
}

.light {
  border-color: black;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
